<hr>
<footer>

  <h1>Personajes e Historia <h1>

    <div>
      <ul>
        <li> <a href="/"  class="  fs-6 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover ">Menu</a></li>
        <li> <a href="/Mortal_Kombat_11"  class="fs-6 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Mortal Kombat 11</a></li>
        <li> <a href="/Johnny_Cage"  class="fs-6 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Johnny Cage</a></li>
        <li> <a href="/Sonya_Blade"  class="fs-6 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Sonya Blade</a></li>
        <li> <a href="/Cassie_Cage"  class="fs-6 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Cassie Cage</a></li>
        <li> <a href="/Jax" class="fs-6 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Jax</a></li>
        <li> <a href="/Scorpion"  class="fs-6 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Scorpion</a></li>
        <li> <a href="/Noob_Saibot"  class="fs-6 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Noob Saibot</a></li>
        <li> <a href="/Baraka" class="fs-6 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Baraka</a></li>
        <li> <a href="/Raiden"  class="fs-6 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Raiden</a></li>
        <li> <a href="/Jacqueline_Briggs" class="fs-6 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Jacqueline Briggs</a></li>
        <li> <a href="/Sub_zero"  class="fs-6 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Sub Zero</a></li>
        <li> <a href="/Kano" class="fs-6 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Kano</a></li>
        <li> <a href="/Kabal"  class="fs-6 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Kabal</a></li>
        <li> <a href="/Liu_Kang"  class="fs-6 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Liu Kang</a></li>
        <li> <a href="/Kitana"  class="fs-6 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Kitana</a></li>
        <li> <a href="/Kung_Lao" class="fs-6 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Kung Lao</a></li>
        <li> <a href="/jade" class="fs-6 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Jade</a></li>
        <li> <a href="/Erron_Black"  class="fs-6 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Errron Black</a></li>
        <li> <a href="/Kotal_Kahn" class="fs-6 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Kotal Kahn</a></li>
        <li> <a href="/DVorah"  class="fs-6 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">D'Vorah</a></li>
        <ul>
      <div>
  
</footer>
