---
layout: layout-post2.njk
title: Articulos
description: lista de los articulos 
tags: ["Personajes", "Principales"]
date: "2024-02-22"
---

<h1>{{ title }}</h1>
<hr>
            <div class="search-wrapper">
              <label for="search">Buscar Articulo</label>
              <input type="text" name="buscador" id="buscador" placeholder="Buscar...">
            </div>
            <hr>

    <div>
      <ul id = "listaArticulos">
        <li class ="articulo"> <a href="/index"  class= "  fs-5 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover ">Menu</a></li>
        <li class ="articulo"> <a href="Mortal_Kombat_11"  class="fs-5 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Mortal Kombat 11</a></li>
        <li class ="articulo"> <a href="/Johnny_Cage"  class="fs-5 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Johnny Cage</a></li>
        <li class ="articulo"> <a href="/Sonya_Blade"  class="fs-5 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Sonya Blade</a></li>
        <li class ="articulo"> <a href="/Cassie_Cage"  class="fs-5 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Cassie Cage</a></li>
        <li class ="articulo"> <a href="/Jax" class="fs-5 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Jax</a></li>
        <li class ="articulo"> <a href="/Scorpion"  class="fs-5 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Scorpion</a></li>
        <li class ="articulo"> <a href="/Noob_Saibot"  class="fs-5 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Noob Saibot</a></li>
        <li class ="articulo"> <a href="/Baraka" class="fs-5 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Baraka</a></li>
        <li class ="articulo"> <a href="/Raiden"  class="fs-5 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Raiden</a></li>
        <li class ="articulo"> <a href="/Jacqueline_Briggs" class="fs-5 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Jacqueline Briggs</a></li>
        <li class ="articulo"> <a href="/Sub_zero"  class="fs-5 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Sub Zero</a></li>
        <li class ="articulo"> <a href="/Kano" class="fs-5 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Kano</a></li>
        <li class ="articulo"> <a href="/Kabal"  class="fs-5 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Kabal</a></li>
        <li class ="articulo"> <a href="/Liu_Kang"  class="fs-5 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Liu Kang</a></li>
        <li class ="articulo"> <a href="/Kitana"  class="fs-5 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Kitana</a></li>
        <li class ="articulo"> <a href="/Kung_Lao" class="fs-5 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Kung Lao</a></li>
        <li class ="articulo"> <a href="/jade" class="fs-5 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Jade</a></li>
        <li class ="articulo"> <a href="/Erron_Black"  class="fs-5 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Errron Black</a></li>
        <li class ="articulo"> <a href="/Kotal_Kahn" class="fs-5 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Kotal Kahn</a></li>
        <li class ="articulo"> <a href="/DVorah"  class="fs-5 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">D'Vorah</a></li>
        <ul>
      <div>
  